.dropdownmenuContent {
  color: black;
  background-color: white;
  padding: 0.8rem;
  position: relative;
  top: 1rem;
}
.dropdownmenuContent > div:first-child {
  color: gray;
  font-style: italic;
}
.dropdownmenuContent div[role="menuitem"]:hover {
  all: unset;
  cursor: pointer;
}

.avatar {
  position: relative;
  top: 8px;
  color: black;
  margin-left: auto;
  cursor: pointer;
}
.avatar span {
  background-color: skyblue;
}

.accountArea {
  margin-left: auto;
  gap: 1rem;
}

.signInButton {
  margin-top: 4px;
}
